<!DOCTYPE html>
<html lang="en" ng-app="BGGGeekListApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>
  
    <script src="js/lib.js"></script>
	<link rel="stylesheet" href="css/lib.css" />

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="bgg.wiki.js"></script>
    <script src="app.js"></script>
	<link rel="stylesheet" href="app.css">
    <title>BGG Geek List - GenCon 2015</title>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-64457644-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body>
	<div class="alert alert-info" role="alert">
		<div><strong>June 26, 2015</strong> - Added Publisher Notes, which includes the booth in most cases, as well as Images!</div>
		<div class="text-muted">June 25, 2015 - Added released information based on <a href="http://bit.ly/1HhCAyr" target="_blank">http://bit.ly/1HhCAyr</a></div>
	</div>
	<div class="page-header">
  		<h1>BGG Geek List Reader <small>Gencon 2015</small></h1>
  		<h4>See full GenCon Preview Geeklist at <a href="https://boardgamegeek.com/geeklist/184821/gen-con-2015-preview" target="_blank">BGG</a></h4>
	</div>
	<div bgg-list>	
	</div>	
	<footer>
		<p class="text-center">
			Data retrieved from the <a href="https://boardgamegeek.com/wiki/page/BGG_XML_API">BoardGameGeek XML API</a>
		</p>
		<address class="text-center">
			Any issues or feature requests?  Email me at <a href="mailto:ctharsis999@gmail.com">ctharsis999@gmail.com</a>
		</address>
	</footer>

	<script type="text/ng-template" id="list.html">
		<div ng-if="vm.results">
			<form class="well well-sm">
				<p class="small">Refreshed on <span class="label label-default">{{vm.refreshed | date: "dd-MMM-yyyy hh:mm a"}}</span></p>
				<div class="form-group">
					<label for="gameName">Name:</label>
					<input type="text" class="form-control" ng-model="vm.gameName" id="gameName" placeholder="Name, e.g. Agricola"/>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="vm.released"> Show Only Games Released At GenCon
					</label>
				</div>
	<!--			<div class="form-group">
					<label for="editedDate">Last Edited (and newer)</label>
	                <div class='input-group date' id='datetimepicker1'>
	                	
	                    <input type='text' class="form-control" ng-model="lastEdited" placeholder="Last time the item was edited"/>
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar" ng-click="vm.showDatePicker()"></span>
	                    </span>
	                </div>
	            </div>-->
			</form>
			<div class="list-group">
				<div class="list-group-item" ng-repeat="item in vm.results track by item.objectid" >
					<h4 class="list-group-item-heading"><a href="https://boardgamegeek.com/{{item.subtype}}/{{item.objectid}}">{{item.objectname}}</a></h4>
					<p class="list-group-item-text small"><em>Updated On <strong>{{item.postdate | date: 'dd-MMM-yyyy hh:mm a'}}</strong></em></p>
					<p class="list-group-item-text"><strong>Released at Gencon?</strong> {{item.released ? 'Yes' : 'No'}}</p>


					<p class="list-group-item-text" designers game="item"></p>
					<p class="list-group-item-text" publishers game="item"></p>

					<p class="list-group-item-text" publisher-notes game="item"></p>
					<p class="list-group-item-text spacer" read-more game="item"></p>
					<p class="list-group-item-text">
						<wiki-convert text="item.body[0]"></wiki-convert>
					</p>
				</div>
			</div>
		</div>	

		<div ng-show="!vm.results.length">
			<div class='uil-reload-css center-block' style='-webkit-transform:scale(0.6)'>
			  <div></div>
			</div>
		</div>			
	</script>

	<script type="text/ng-template" id="readmore.html">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Description</h3>
			</div>
			<div class="panel-body">
				<div ng-if="!vm.showMore" class="show-more">
					<div class=""><span ng-bind-html="vm.descriptionShort"></span> <a role="button" ng-click="vm.readMore()" ng-if="vm.shortened"> Read More </a></div>
				</div>
				<div ng-if="vm.showMore" class="">
					<div class=""><span ng-bind-html="vm.description"></span> <a role="button" ng-click="vm.readLess()">Read Less</a></div>
				</div>
			</div>
		</div>

	</script>

	<script type="text/ng-template" id="wiki.html">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Notes</h3>
			</div>
			<div class="panel-body">
				<div ng-bind-html='vm.results' class='clearfix'></div>
			</div>
		</div>

	</script>
</body>	
</html>